.update-about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.update-about-container .update-about-inner form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 1.5rem;
    border-radius: .5rem;

}

.update-about-container .update-about-inner form label{
    margin: 1rem 0rem;
}

.update-about-container .update-about-inner form input{
    border: .1rem solid hsl(0, 9%, 85%);
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
}

.update-about-container .update-about-inner form textarea{
    border: .1rem solid hsl(0, 9%, 85%);
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
}

.update-about-container .update-about-inner form button{
    margin-top: 1rem;
    background: green;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
}

.update-about-inner{
    background: hsl(0, 14%, 97%);
    padding: 1.5rem;
    border-radius: .5rem;
}



