.Get-Involved-Burner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(65deg, hsl(240, 70%, 57%), #fff);
    height: 25rem;
}

.Get-Involved-Inner{
    margin-top: 6rem;
}

.Get-Involved-Inner h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
}

.Get-Involved-Inner p{
    font-size: 1.2rem;
    color: #fff;

}

.donation-inner-sub img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.donation-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem 0rem;
}

.donation-inner-sub h2{
    font-size: 2.2rem;
    font-weight: 300;
}

.banking-details-container h2{
    text-align: center;
}

.banking-details-inner{
    background: hsl(0, 8%, 95%);
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 3rem;
}

.banking-{
    display: flex;
    gap: 8rem;
    flex: 1 1 15rem;
}

.banking-left h5{
    font-size: 1.2rem;
    font-weight: 300;
}

.banking-left h4{
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    font-weight: 800;
}

.banking-left h6{
    font-size: 1.2rem;
    font-weight: 300;
}

.banking-left p{
    color: #333;
    font-weight: 800;
    margin-top: -1.5rem;
}

.banking-right h5{
    font-size: 1.2rem;
    font-weight: 300;
}

.banking-right h4{
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    font-weight: 800;
}

.banking-right h6{
    font-size: 1.2rem;
    font-weight: 300;
}

.banking-right p{
    color: #333;
    font-weight: 800;
    margin-top: -1.5rem;
}

.donations-query{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem;
}

.banking-details-inner h7{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 800;
}